<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JF Desenvolvimento</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="JF Desenvolvimento">
    <meta name="author" content="Jhunu Fernandes Araujo">
    <meta name="keywords" content="JF Desenvolvimento">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  </head>
  <body>


    {% block body %}{% endblock %}


  </body>
</html>
